.cabecalho {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Silkscreen', cursive;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 65%;
    margin-top: -50px;
    
}

.container {
    margin-top: -180px;
}

.bg {
    background-color: rgba(243, 174, 174, 0.795);
    overflow: hidden;
}

.menu {
    font-size: larger;
    padding: 50px;
}

a:link {
    text-decoration: none;
}


.footer {
    background-color: aqua;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: purple;
    text-align: center;
}

.text {
    background: rgb(17, 17, 17);
    margin-top: -1.5%;
    margin-left: -15px;
    margin-right: -15px;
}